* {
    box-sizing: border-box;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  ul li:nth-child(odd) {
    background: #888;
  }
  ul li:hover {
    background: rgb(238, 161, 219);
  }
  .header {
    background-color: #110f0f;
    padding: 30px 40px;
    color: rgb(235, 45, 45);
    text-align: center;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 80%;
    padding: 10px;
    font-size: 16px;
    background-color: thistle;
  }
  .addBtn {
    padding: 10px;
    width: 20%;
    background: #5a5252;
    color: hsl(177, 18%, 80%);
    float:right;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    }
  .addBtn:hover {
    background-color: rgb(24, 23, 23);
  }   
